/*
Author: Didier Pascarel
E-mail: didier.pascarel1@gmail.com
Date: 2012
Site version: 2.0 beta
Last update: 2012.03.28
Site name: www.menegoz.com (Mireille Menegoz Sculptures)
*/

@font-face {
	font-family: mmfont;
	src: url('../fonts/LinLibertine_R.eot');
	format: ('opentype');
	font-style: regular;
}
@font-face {
	font-family: mmfont;
	src: url('../fonts/LinLibertine_R.ttf');
	font-style: regular;
}
@font-face {
	font-family: mmfont;
	src: url('../fonts/LinLibertine_RI.eot');
	format: ('opentype');
	font-style: italic;
}
@font-face {
	font-family: mmfont;
	src: url('../fonts/LinLibertine_RI.ttf');
	font-style: italic;
}
body {
	background-color: black;
	background-image: url('../pics/bg.png'); 
	background-repeat: repeat-y;
    background-position: center
}
H1{
	text-align: center;
	font-family: mmfont;
	margin: 0
}
.titre1{
	color: #e6e6ef;
	font-style: italic;
	font-size: 24pt
}
.titre2{
	color: black;
	font-size: 1pt
}
P {
	text-align: center;
	color: #f8f8ff;
	font-family: mmfont;
	margin: 0;
	font-size: 12pt
	}
.pictures{
	color: black;
	}
.footer{
	color: #88888;
	font-size: 10 pt;
	text-align: center
	}
.choice, .text1, .text2 {
	font-size: 11pt
}
.choice, .title1 { 
	font-weight: 900
}
.text1, .text3, .big {
	font-style: italic
}
.text3 {
	font-size: 12pt;
	text-align: left
}
.title1 { 
	font-size: 23pt 
}
.galleries {
	font-style: italic;
	font-size: 28pt 
}
.menu {
	font-size: 14pt;
	text-align: right
}
.big {
	font-size: 34pt
}
A:link IMG {
	border: #eedd00
}
A:link,
A:active,
A:visited  {
	text-decoration: none;
	color: #f8f8ff
}
div {
	margin-left: auto;
	margin-right: auto
}
.top {
	background: black;
	float: right;
	width: 1000px;
	height: 80px
}
.page {
	padding-bottom: 60px;
	position: relative
}
.realfoot {
	clear: both;
	border-top-style: solid;
	border-top: 2px;
	border-top-color: #606060;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #121212;
	min-height:61px;
	height: 61px;
	padding-bottom: 0px
}
.menu {
/*	background-color: #121212 */
}