BODY {
	MIN-WIDTH: 960px
}
.container_12 {
	WIDTH: 960px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.container_16 {
	WIDTH: 960px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.grid_1 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.grid_2 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.grid_3 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.grid_4 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.grid_5 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.grid_6 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.grid_7 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.grid_8 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.grid_9 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.grid_10 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.grid_11 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.grid_12 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.grid_13 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.grid_14 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.grid_15 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.grid_16 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.push_1 {
	POSITION: relative
}
.pull_1 {
	POSITION: relative
}
.push_2 {
	POSITION: relative
}
.pull_2 {
	POSITION: relative
}
.push_3 {
	POSITION: relative
}
.pull_3 {
	POSITION: relative
}
.push_4 {
	POSITION: relative
}
.pull_4 {
	POSITION: relative
}
.push_5 {
	POSITION: relative
}
.pull_5 {
	POSITION: relative
}
.push_6 {
	POSITION: relative
}
.pull_6 {
	POSITION: relative
}
.push_7 {
	POSITION: relative
}
.pull_7 {
	POSITION: relative
}
.push_8 {
	POSITION: relative
}
.pull_8 {
	POSITION: relative
}
.push_9 {
	POSITION: relative
}
.pull_9 {
	POSITION: relative
}
.push_10 {
	POSITION: relative
}
.pull_10 {
	POSITION: relative
}
.push_11 {
	POSITION: relative
}
.pull_11 {
	POSITION: relative
}
.push_12 {
	POSITION: relative
}
.pull_12 {
	POSITION: relative
}
.push_13 {
	POSITION: relative
}
.pull_13 {
	POSITION: relative
}
.push_14 {
	POSITION: relative
}
.pull_14 {
	POSITION: relative
}
.push_15 {
	POSITION: relative
}
.pull_15 {
	POSITION: relative
}
.container_12 .grid_3 {
	WIDTH: 220px
}
.container_16 .grid_4 {
	WIDTH: 220px
}
.container_12 .grid_6 {
	WIDTH: 460px
}
.container_16 .grid_8 {
	WIDTH: 460px
}
.container_12 .grid_9 {
	WIDTH: 700px
}
.container_16 .grid_12 {
	WIDTH: 700px
}
.container_12 .grid_12 {
	WIDTH: 940px
}
.container_16 .grid_16 {
	WIDTH: 940px
}
.alpha {
	MARGIN-LEFT: 0px
}
.omega {
	MARGIN-RIGHT: 0px
}
.container_12 .grid_1 {
	WIDTH: 60px
}
.container_12 .grid_2 {
	WIDTH: 140px
}
.container_12 .grid_4 {
	WIDTH: 300px
}
.container_12 .grid_5 {
	WIDTH: 380px
}
.container_12 .grid_7 {
	WIDTH: 540px
}
.container_12 .grid_8 {
	WIDTH: 620px
}
.container_12 .grid_10 {
	WIDTH: 780px
}
.container_12 .grid_11 {
	WIDTH: 860px
}
.container_16 .grid_1 {
	WIDTH: 40px
}
.container_16 .grid_2 {
	WIDTH: 100px
}
.container_16 .grid_3 {
	WIDTH: 160px
}
.container_16 .grid_5 {
	WIDTH: 280px
}
.container_16 .grid_6 {
	WIDTH: 340px
}
.container_16 .grid_7 {
	WIDTH: 400px
}
.container_16 .grid_9 {
	WIDTH: 520px
}
.container_16 .grid_10 {
	WIDTH: 580px
}
.container_16 .grid_11 {
	WIDTH: 640px
}
.container_16 .grid_13 {
	WIDTH: 760px
}
.container_16 .grid_14 {
	WIDTH: 820px
}
.container_16 .grid_15 {
	WIDTH: 880px
}
.container_12 .prefix_3 {
	PADDING-LEFT: 240px
}
.container_16 .prefix_4 {
	PADDING-LEFT: 240px
}
.container_12 .prefix_6 {
	PADDING-LEFT: 480px
}
.container_16 .prefix_8 {
	PADDING-LEFT: 480px
}
.container_12 .prefix_9 {
	PADDING-LEFT: 720px
}
.container_16 .prefix_12 {
	PADDING-LEFT: 720px
}
.container_12 .prefix_1 {
	PADDING-LEFT: 80px
}
.container_12 .prefix_2 {
	PADDING-LEFT: 160px
}
.container_12 .prefix_4 {
	PADDING-LEFT: 320px
}
.container_12 .prefix_5 {
	PADDING-LEFT: 400px
}
.container_12 .prefix_7 {
	PADDING-LEFT: 560px
}
.container_12 .prefix_8 {
	PADDING-LEFT: 640px
}
.container_12 .prefix_10 {
	PADDING-LEFT: 800px
}
.container_12 .prefix_11 {
	PADDING-LEFT: 880px
}
.container_16 .prefix_1 {
	PADDING-LEFT: 60px
}
.container_16 .prefix_2 {
	PADDING-LEFT: 120px
}
.container_16 .prefix_3 {
	PADDING-LEFT: 180px
}
.container_16 .prefix_5 {
	PADDING-LEFT: 300px
}
.container_16 .prefix_6 {
	PADDING-LEFT: 360px
}
.container_16 .prefix_7 {
	PADDING-LEFT: 420px
}
.container_16 .prefix_9 {
	PADDING-LEFT: 540px
}
.container_16 .prefix_10 {
	PADDING-LEFT: 600px
}
.container_16 .prefix_11 {
	PADDING-LEFT: 660px
}
.container_16 .prefix_13 {
	PADDING-LEFT: 780px
}
.container_16 .prefix_14 {
	PADDING-LEFT: 840px
}
.container_16 .prefix_15 {
	PADDING-LEFT: 900px
}
.container_12 .suffix_3 {
	PADDING-RIGHT: 240px
}
.container_16 .suffix_4 {
	PADDING-RIGHT: 240px
}
.container_12 .suffix_6 {
	PADDING-RIGHT: 480px
}
.container_16 .suffix_8 {
	PADDING-RIGHT: 480px
}
.container_12 .suffix_9 {
	PADDING-RIGHT: 720px
}
.container_16 .suffix_12 {
	PADDING-RIGHT: 720px
}
.container_12 .suffix_1 {
	PADDING-RIGHT: 80px
}
.container_12 .suffix_2 {
	PADDING-RIGHT: 160px
}
.container_12 .suffix_4 {
	PADDING-RIGHT: 320px
}
.container_12 .suffix_5 {
	PADDING-RIGHT: 400px
}
.container_12 .suffix_7 {
	PADDING-RIGHT: 560px
}
.container_12 .suffix_8 {
	PADDING-RIGHT: 640px
}
.container_12 .suffix_10 {
	PADDING-RIGHT: 800px
}
.container_12 .suffix_11 {
	PADDING-RIGHT: 880px
}
.container_16 .suffix_1 {
	PADDING-RIGHT: 60px
}
.container_16 .suffix_2 {
	PADDING-RIGHT: 120px
}
.container_16 .suffix_3 {
	PADDING-RIGHT: 180px
}
.container_16 .suffix_5 {
	PADDING-RIGHT: 300px
}
.container_16 .suffix_6 {
	PADDING-RIGHT: 360px
}
.container_16 .suffix_7 {
	PADDING-RIGHT: 420px
}
.container_16 .suffix_9 {
	PADDING-RIGHT: 540px
}
.container_16 .suffix_10 {
	PADDING-RIGHT: 600px
}
.container_16 .suffix_11 {
	PADDING-RIGHT: 660px
}
.container_16 .suffix_13 {
	PADDING-RIGHT: 780px
}
.container_16 .suffix_14 {
	PADDING-RIGHT: 840px
}
.container_16 .suffix_15 {
	PADDING-RIGHT: 900px
}
.container_12 .push_3 {
	LEFT: 240px
}
.container_16 .push_4 {
	LEFT: 240px
}
.container_12 .push_6 {
	LEFT: 480px
}
.container_16 .push_8 {
	LEFT: 480px
}
.container_12 .push_9 {
	LEFT: 720px
}
.container_16 .push_12 {
	LEFT: 720px
}
.container_12 .push_1 {
	LEFT: 80px
}
.container_12 .push_2 {
	LEFT: 160px
}
.container_12 .push_4 {
	LEFT: 320px
}
.container_12 .push_5 {
	LEFT: 400px
}
.container_12 .push_7 {
	LEFT: 560px
}
.container_12 .push_8 {
	LEFT: 640px
}
.container_12 .push_10 {
	LEFT: 800px
}
.container_12 .push_11 {
	LEFT: 880px
}
.container_16 .push_1 {
	LEFT: 60px
}
.container_16 .push_2 {
	LEFT: 120px
}
.container_16 .push_3 {
	LEFT: 180px
}
.container_16 .push_5 {
	LEFT: 300px
}
.container_16 .push_6 {
	LEFT: 360px
}
.container_16 .push_7 {
	LEFT: 420px
}
.container_16 .push_9 {
	LEFT: 540px
}
.container_16 .push_10 {
	LEFT: 600px
}
.container_16 .push_11 {
	LEFT: 660px
}
.container_16 .push_13 {
	LEFT: 780px
}
.container_16 .push_14 {
	LEFT: 840px
}
.container_16 .push_15 {
	LEFT: 900px
}
.container_12 .pull_3 {
	LEFT: -240px
}
.container_16 .pull_4 {
	LEFT: -240px
}
.container_12 .pull_6 {
	LEFT: -480px
}
.container_16 .pull_8 {
	LEFT: -480px
}
.container_12 .pull_9 {
	LEFT: -720px
}
.container_16 .pull_12 {
	LEFT: -720px
}
.container_12 .pull_1 {
	LEFT: -80px
}
.container_12 .pull_2 {
	LEFT: -160px
}
.container_12 .pull_4 {
	LEFT: -320px
}
.container_12 .pull_5 {
	LEFT: -400px
}
.container_12 .pull_7 {
	LEFT: -560px
}
.container_12 .pull_8 {
	LEFT: -640px
}
.container_12 .pull_10 {
	LEFT: -800px
}
.container_12 .pull_11 {
	LEFT: -880px
}
.container_16 .pull_1 {
	LEFT: -60px
}
.container_16 .pull_2 {
	LEFT: -120px
}
.container_16 .pull_3 {
	LEFT: -180px
}
.container_16 .pull_5 {
	LEFT: -300px
}
.container_16 .pull_6 {
	LEFT: -360px
}
.container_16 .pull_7 {
	LEFT: -420px
}
.container_16 .pull_9 {
	LEFT: -540px
}
.container_16 .pull_10 {
	LEFT: -600px
}
.container_16 .pull_11 {
	LEFT: -660px
}
.container_16 .pull_13 {
	LEFT: -780px
}
.container_16 .pull_14 {
	LEFT: -840px
}
.container_16 .pull_15 {
	LEFT: -900px
}
.clear {
	WIDTH: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; OVERFLOW: hidden
}
.clearfix:before {
	LINE-HEIGHT: 0; WIDTH: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; FONT-SIZE: 0px; OVERFLOW: hidden; CONTENT: '.'
}
.clearfix:after {
	LINE-HEIGHT: 0; WIDTH: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; FONT-SIZE: 0px; OVERFLOW: hidden; CONTENT: '.'
}
.container_12:before {
	LINE-HEIGHT: 0; WIDTH: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; FONT-SIZE: 0px; OVERFLOW: hidden; CONTENT: '.'
}
.container_12:after {
	LINE-HEIGHT: 0; WIDTH: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; FONT-SIZE: 0px; OVERFLOW: hidden; CONTENT: '.'
}
.container_16:before {
	LINE-HEIGHT: 0; WIDTH: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; FONT-SIZE: 0px; OVERFLOW: hidden; CONTENT: '.'
}
.container_16:after {
	LINE-HEIGHT: 0; WIDTH: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; FONT-SIZE: 0px; OVERFLOW: hidden; CONTENT: '.'
}
.clearfix:after {
	CLEAR: both
}
.container_12:after {
	CLEAR: both
}
.container_16:after {
	CLEAR: both
}
.clearfix {
	ZOOM: 1
}
.container_12 {
	ZOOM: 1
}
.container_16 {
	ZOOM: 1
}
