@font-face {
	font-family: mmfont;
	src:url(../fonts/LinLibertine_R.ttf);
}
@font-face {
	font-family: mmfont;
	src:url(../fonts/LinLibertine_RI.ttf);
}
BODY {
	BACKGROUND-IMAGE: url(../pics/bg.png); BACKGROUND-COLOR: black; BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: center 50%
}
H1 {
	TEXT-ALIGN: center; MARGIN: 0px; FONT-FAMILY: mmfont
}
.titre1 {
	FONT-STYLE: italic; COLOR: #e6e6ef; FONT-SIZE: 24pt
}
.titre2 {
	COLOR: black; FONT-SIZE: 1pt
}
P {
	TEXT-ALIGN: center; MARGIN: 0px; FONT-FAMILY: mmfont; COLOR: #f8f8ff; FONT-SIZE: 12pt
}
.pictures {
	COLOR: black
}
.footer {
	TEXT-ALIGN: center
}
.choice {
	FONT-SIZE: 11pt
}
.text1 {
	FONT-SIZE: 11pt
}
.text2 {
	FONT-SIZE: 11pt
}
.choice {
	FONT-WEIGHT: 900
}
.title1 {
	FONT-WEIGHT: 900
}
.text1 {
	FONT-STYLE: italic
}
.text3 {
	FONT-STYLE: italic
}
.big {
	FONT-STYLE: italic
}
.text3 {
	TEXT-ALIGN: left; FONT-SIZE: 12pt
}
.title1 {
	FONT-SIZE: 23pt
}
.galleries {
	FONT-STYLE: italic; FONT-SIZE: 28pt
}
.menu {
	TEXT-ALIGN: right; FONT-SIZE: 14pt
}
.big {
	FONT-SIZE: 34pt
}
A:link IMG {
	BORDER-BOTTOM: #eedd00; BORDER-LEFT: #eedd00; BORDER-TOP: #eedd00; BORDER-RIGHT: #eedd00
}
A:link {
	COLOR: #f8f8ff; TEXT-DECORATION: none
}
A:active {
	COLOR: #f8f8ff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #f8f8ff; TEXT-DECORATION: none
}
DIV {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.top {
	WIDTH: 1000px; BACKGROUND: black; FLOAT: right; HEIGHT: 80px
}
.page {
	POSITION: relative; PADDING-BOTTOM: 60px
}
.realfoot {
	POSITION: fixed; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #121212; MIN-HEIGHT: 61px; WIDTH: 100%; BOTTOM: 0px; HEIGHT: 61px; CLEAR: both; BORDER-TOP: #606060 2px
}
.menu {
	
}
